<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">]
<body>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
    <div class="search_bar_wrap">
      <div class="search_date_wrap">
        <div class="item">
          <h2>리뷰상세</h2>
        </div>
        <div class="item">
          <!-- 버튼에 주소 걸어주기 -->
          <button th:onclick="|location.href='@{/cms/storeReview/list}'|" class="grey_btn">목록</button>
        </div>
      </div>
      <div class="add_form_wrap">
        <div class="add_input_wrap">
          <p>회원ID</p>
          <input type="text" th:value="${storeReview.member.userId}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>회원명</p>
          <input type="text" th:value="${storeReview.member.userName}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>리뷰내용</p>
          <textarea th:text="${storeReview.storeReviewDetail}" readonly></textarea>
        </div>
        <div class="add_input_wrap">
          <p>수정일</p>
          <input type="text" th:value="${#temporals.format(storeReview.lastModifiedDate, 'yyyy-MM-dd HH:mm')}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>등록일</p>
          <input type="text" th:value="${#temporals.format(storeReview.createDate, 'yyyy-MM-dd HH:mm')}" readonly>
        </div>
        <div class="add_checkbox_wrap">
          <p>활성화</p>
          <input name="status" th:name="storeReviewStatus" value="ON" type="radio"
                 th:checked="${storeReview.storeReviewStatus == T(com.jpa4.pj1984.domain.StoreReviewStatus).ON}" disabled>활성화
          <input name="status" th:name="storeReviewStatus" value="OFF" type="radio"
                 th:checked="${storeReview.storeReviewStatus == T(com.jpa4.pj1984.domain.StoreReviewStatus).OFF}" disabled>비활성화
        </div>
      </div>
    </div>
  </th:block>
</th:block>
</body>
</html>
