<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
    <div class="search_bar_wrap">
      <form action="post">
        <div class="search_date_wrap">
          <div class="item">
            <h2>서점리뷰관리</h2>
          </div>
          <div class="item">
            <button id="todayBtn" class="grey_btn">오늘</button>
            <button id="oneWeekBtn" class="grey_btn">일주일</button>
            <button id="oneMonthBtn" class="grey_btn">한달</button>
            <input type="date"/>
            <input type="date"/>
            <button class="black_btn">조회</button>
          </div>
        </div>
        <hr/>
        <div class="search_text_wrap">
          <div class="item">
            <select name="" id="">
              <option value="">전체</option>
              <option value="">서점명</option>
            </select>
            <input type="text" placeholder="검색어를 입력해주세요. "/>
            <button class="black_btn">검색</button>
          </div>
          <div class="item">
            <select name="" id="">
              <option value="">최신순</option>
              <option value="">이전순</option>
            </select>
          </div>
        </div>
        <div class="list_table_wrap">
          <table class="list_table">
            <tr>
              <th>NO</th>
              <th>회원ID</th>
              <th>회원명</th>
              <th>리뷰내용</th>
              <th>활성화</th>
              <th>수정일</th>
              <th>등록일</th>
            </tr>
            <tr th:each="storeReviewList : ${storeReviewList}">
              <td th:text="${storeReviewList.storeReviewId}"></td>
              <td th:text="${storeReviewList.member.userId}"></td>
              <td th:text="${storeReviewList.member.userName}"></td>
              <td th:text="${storeReviewList.storeReviewDetail}"></td>
              <td>
              <span th:if="${storeReviewList.storeReviewStatus == T(com.jpa4.pj1984.domain.StoreReviewStatus).ON}">활성화</span>
              <span th:if="${storeReviewList.storeReviewStatus == T(com.jpa4.pj1984.domain.StoreReviewStatus).OFF}">비활성화</span>
              </td>
              <td th:text="${#temporals.format(storeReviewList.lastModifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
              <td th:text="${#temporals.format(storeReviewList.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </th:block>
</th:block>
</body>
</html>
