<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <div class="search_bar_wrap">
            <div class="search_date_wrap">
                <div class="item">
                    <h2>배너관리</h2>
                </div>
                <div class="item">
                    <select name="" id="">
                        <option value="">최신순</option>
                        <option value="">이전순</option>
                    </select>
                    <button type="button" class="black_btn" th:onclick="|location.href='@{/cms/banner/add}'|">추가</button>
                </div>
            </div>
            <div class="list_table_wrap">
                <table class="list_table">
                    <tr>
                        <th>NO</th>
                        <th>제목</th>
                        <th>설명</th>
                        <th>활성화</th>
                        <th>노출순서</th>
                        <th>수정일</th>
                        <th>등록일</th>
                    </tr>
                    <tr th:each="banner : ${bannerList}">
                        <th th:text="${banner.bannerId}">1</th>
                        <th><a th:text="${banner.bannerTitle}" th:href="@{/cms/book/{id}(id=${banner.bannerId})}">제목입니다.</a></th>
                        <th th:text="${banner.bannerDetail}">설명입니다.</th>
                        <th th:text="${banner.bannerStatus}">ON</th>
                        <th th:text="${banner.bannerOrder}">1</th>
                        <th th:text="${#temporals.format(book.lastModifiedDate, 'yyyy-MM-dd HH:mm')}">2024</th>
                        <th th:text="${#temporals.format(book.createDate, 'yyyy-MM-dd HH:mm')}">2024</th>
                    </tr>
                </table>
            </div>
        </div>
    </th:block>
</th:block>
<script>
</script>
</body>
</html>