<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <div class="search_bar_wrap">
            <div class="search_date_wrap search_text_wrap">
                <div class="item">
                    <h2>배너관리</h2>
                </div>
                <div class="item">
                    <select name="" id="sortOrder">
                        <option value="desc" hidden="">정렬선택</option>
                        <option value="desc">최신순</option>
                        <option value="asc">이전순</option>
                    </select>
                    <button type="button" class="black_btn" th:onclick="|location.href='@{/cms/banner/add}'|">추가</button>
                </div>
            </div>
            <div class="list_table_wrap">
                <table class="list_table">
                    <tr>
                        <th>NO</th>
                        <th>제목</th>
                        <th>설명</th>
                        <th>활성화</th>
                        <th>노출순서</th>
                        <th>수정일</th>
                        <th>등록일</th>
                    </tr>
                    <tr th:each="banner : ${bannerList}">
                        <th th:text="${banner.bannerId}">1</th>
                        <th><a th:text="${banner.bannerTitle}" th:href="@{/cms/banner/{id}(id=${banner.bannerId})}">제목입니다.</a></th>
                        <th th:text="${banner.bannerDetail}">설명입니다.</th>
                        <th th:text="${banner.bannerStatus}">ON</th>
                        <th th:text="${banner.bannerOrder}">1</th>
                        <th th:text="${#temporals.format(banner.lastModifiedDate, 'yyyy-MM-dd HH:mm')}"></th>
                        <th th:text="${#temporals.format(banner.createDate, 'yyyy-MM-dd HH:mm')}"></th>
                    </tr>
                </table>

                <!--페이징처리-->
                <div class="pageble_wrap">
                    <div>
                        <a class="pageNav_btn" th:href="${nowPage != startPage} ? @{/cms/banner/list(page = ${prevPage})} : '#'">Prev</a>
                        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                            <a class="pageNav_btn" th:if="${page != nowPage}" th:href="@{/cms/banner/list(page = ${page -1})}" th:text="${page}"></a>
                            <a class="pageNav_btn nowPage_btn" th:if="${page == nowPage}" th:href="@{#}" th:text="${page}"></a>
                        </th:block>
                        <a class="pageNav_btn" th:href="${nowPage != endPage} ? @{/cms/banner/list(page = ${nextPage})} : '#'">Next</a>
                    </div>
                </div>
                <!--페이징처리-->

            </div>
        </div>
    </th:block>
</th:block>
<script>
    //정렬필터(최신순,이전순)
    document.getElementById('sortOrder').addEventListener('change', function() {
        var selectedOption = this.value; // 선택된 옵션 ('asc' 또는 'desc')
        var url = "/cms/banner/list?page=0&size=10&sort=bannerId," + selectedOption;
        window.location.href = url; // 페이지를 새 URL로 리다이렉트
    });
</script>
</html>