<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
    <div class="search_bar_wrap">
      <div class="search_date_wrap">
        <div class="item">
          <h2>서점상세</h2>
        </div>
        <div class="item">
          <!-- 버튼에 주소 걸어주기 -->
          <button th:onclick="|location.href='@{/cms/store/list}'|" class="grey_btn">목록</button>
          <button th:onclick="|location.href='@{/cms/store/{id}/modify(id=${store.storeId})}'|" class="black_btn">수정
          </button>
        </div>
      </div>
      <div class="add_form_wrap">
        <div class="add_input_wrap">
          <p>서점 썸네일 </p>
          <div class="store_img_form store_img_div">
            <img class="store_img_form store_img_tag" th:if="${store.getStoreImageStored()}"
                 th:src="|/cms/store/images/${store.getStoreImageStored()}|"/> <br/>
          </div>
          <input type="text" th:value="${store.getStoreImageOrigin()}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>서점명</p>
          <input type="text" th:value="${store.storeTitle}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>설명</p>
          <textarea th:text="${store.storeText}" readonly></textarea>
        </div>
        <div class="add_input_wrap">
          <p>서점한줄평</p>
          <input type="text" th:value="${store.storeOneReview}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>서점택태그</p>
          <textarea th:text="${store.storeTag}" readonly></textarea>
        </div>
        <div class="add_input_wrap">
          <p>서점 이미지</p>
          <div class="store_img_form store_img_div">
            <img class="store_img_form store_img_tag" th:if="${store.getStoreImageStored01()}"
                 th:src="|/cms/store/images/${store.getStoreImageStored01()}|"/> <br/>
          </div>
          <input type="text" th:value="${store.getStoreImageOrigin01()}" readonly>
        </div>
        <div class="add_input_wrap">
          <div class="store_img_form store_img_div">
            <img class="store_img_form store_img_tag" th:if="${store.getStoreImageStored02()}"
                 th:src="|/cms/store/images/${store.getStoreImageStored02()}|"/> <br/>
          </div>
          <input type="text" th:value="${store.getStoreImageOrigin02()}" readonly></div>
        <div class="add_input_wrap">
          <div class="store_img_form store_img_div">
            <img class="store_img_form store_img_tag" th:if="${store.getStoreImageStored03()}"
                 th:src="|/cms/store/images/${store.getStoreImageStored03()}|"/> <br/>
          </div>
          <input type="text" th:value="${store.getStoreImageOrigin03()}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>1984의 서점리뷰</p>
          <textarea th:text="${store.storeReview}" readonly></textarea>
        </div>
        <div class="add_input_wrap">
          <p>주소</p>
          <textarea th:text="${store.storeAddress}" readonly></textarea>
        </div>
        <div class="add_input_wrap">
          <p>연락처</p>
          <input type="text" th:value="${store.storePhoneNum}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>운영시간</p>
          <textarea th:text="${store.storeOperateTime}" readonly></textarea>
        </div>
        <div class="add_input_wrap">
          <p>대표자명</p>
          <input type="text" th:value="${store.storeOwner}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>아이디</p>
          <input type="text" th:value="${store.storeLoginId}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>계좌번호</p>
          <select th:value="${store.storeBankName}" disabled>
            <option value="placeholder" th:selected>은행명</option>
            <option th:each="bank : ${bankList}" th:value="${bank}" th:text="${bank}"
                    th:selected="${bank == store.storeBankName}"></option>
          </select>
          <input type="text" th:value="${store.storeAccount}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>사업자 등록번호</p>
          <input type="text" th:value="${store.storeCrn}" readonly>
        </div>

        <!-- 등록일 수정일 날짜형식 수정폼과 동일하게 변경 해야 함 -->
        <!--            <td th:text="${#temporals.format(store.lastModifiedDate, 'yyyy-MM-dd HH:mm')}"></td>-->
        <!--            <td th:text="${#temporals.format(store.createDate, 'yyyy-MM-dd HH:mm')}"></td>-->
        <div class="add_input_wrap">
          <p>수정일</p>
          <input type="text" th:value="${#temporals.format(store.lastModifiedDate, 'yyyy-MM-dd HH:mm')}" readonly>
        </div>
        <div class="add_input_wrap">
          <p>등록일</p>
          <input type="text" th:value="${#temporals.format(store.createDate, 'yyyy-MM-dd HH:mm')}" readonly>
        </div>
        <div class="add_checkbox_wrap">
          <p>활성화</p>
          <input name="status" th:name="storeStatus" value="STORE" type="radio"
                 th:checked="${store.storeStatus == T(com.jpa4.pj1984.domain.StoreStatus).STORE}" disabled>활성화
          <input name="status" th:name="storeStatus" value="QUIT" type="radio"
                 th:checked="${store.storeStatus == T(com.jpa4.pj1984.domain.StoreStatus).QUIT}" disabled>비활성화
        </div>
      </div>
    </div>


  </th:block>
</th:block>
<script>
  $(document).ready(function(){
    let src = $(".store_img_tag").attr("src");
    console.log(src);
    if(src.length > 0) {
      $(".store_img_div").css("background-image", "none");
      $(".store_img_div").css("background-color", "#fff");
      $(".store_img_div").css("border", "none");
      $(".store_img_tag").css("max-width", "none");
    }
  });

</script>
</html>
