<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">]
<body>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
      <div class="search_bar_wrap">
        <form action="post">
          <div class="search_date_wrap">
            <div class="item">
              <h2>서점상세</h2>
            </div>
            <div class="item">
              <button class="grey_btn">목록</button>
              <button class="black_btn">수정</button>
            </div>
          </div>
          <div class="add_form_wrap">
            <div class="add_input_wrap">
              <p>서점 썸네일 </p>
              <div draggable="true" class="drag_img_form"></div>
              <input type="text" readonly>
            </div>
            <div class="add_input_wrap">
              <p>서점명</p>
              <input type="text" readonly>
            </div>
            <div class="add_input_wrap">
              <p>설명</p>
              <textarea readonly></textarea>
            </div>
            <div class="add_input_wrap">
              <p>서점한줄평</p>
              <input type="text" readonly>
            </div>
            <div class="add_input_wrap">
              <p>서점택태그</p>
              <textarea readonly></textarea>
            </div>
            <div class="add_input_wrap">
              <p>서점 이미지</p>
              <div draggable="true" class="drag_img_form"></div>
              <div draggable="true" class="drag_img_form"></div>
              <div draggable="true" class="drag_img_form"></div>
              <p>이미지 1</p>
              <input type="text" readonly>
              <p>이미지 2</p>
              <input type="text" readonly>
              <p>이미지 3</p>
              <input type="text" readonly>
            </div>
            <div class="add_input_wrap">
              <p>1984의 서점리뷰</p>
              <textarea readonly></textarea>
            </div>
            <div class="add_input_wrap">
              <p>주소</p>
              <textarea readonly></textarea>
            </div>
            <div class="add_input_wrap">
              <p>연락처</p>
              <input type="text" readonly>
            </div>
            <div class="add_input_wrap">
              <p>운영시간</p>
              <textarea readonly></textarea>
            </div>
            <div class="add_input_wrap">
              <p>대표자명</p>
              <input type="text" readonly>
            </div>
            <div class="add_input_wrap">
              <p>아이디</p>
              <input type="text" readonly>
            </div>
            <div class="add_input_wrap">
              <p>계좌번호</p>
              <select name="" id="">
                <option value="">은행명</option>
                <option value="">우체국은행</option>
              </select>
              <input type="text" readonly>
            </div>
            <div class="add_input_wrap">
              <p>사업자 등록번호</p>
              <input type="text" readonly>
            </div>
            <div class="add_input_wrap">
              <p>등록일</p>
              <input type="text" readonly>
            </div>
            <div class="add_input_wrap">
              <p>수정일</p>
              <input type="text" readonly>
            </div>
            <div class="add_checkbox_wrap">
              <p>활성화</p>
              <input id="on_status" type="checkbox">
              <label for="on_status">활성화</label>
              <input id="off_status" type="checkbox">
              <label for="off_status">비활성화</label>
            </div>
          </div>
        </form>
      </div>
  </th:block>
</th:block>
</body>
</html>
