<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
    <div class="search_bar_wrap">
      <div class="search_date_wrap">
        <div class="item">
          <h2>서점관리</h2>
        </div>
        <div class="item">
          <button id="todayBtn" class="grey_btn">오늘</button>
          <button id="oneWeekBtn" class="grey_btn">일주일</button>
          <button id="oneMonthBtn" class="grey_btn">한달</button>
          <input type="date"/>
          <input type="date"/>
          <button class="black_btn">조회</button>
        </div>
      </div>
      <hr/>
      <div class="search_text_wrap">
        <div class="item">
          <select name="" id="">
            <option value="">전체</option>
            <option value="">서점명</option>
          </select>
          <input type="text" placeholder="검색어를 입력해주세요. "/>
          <button class="black_btn">검색</button>
        </div>
        <div class="item">
          <select name="" id="">
            <option value="">최신순</option>
            <option value="">이전순</option>
          </select>
        </div>
      </div>
      <div class="list_table_wrap">
        <table class="list_table">
          <tr>
            <th>NO</th>
            <th>서점ID</th>
            <th>서점명</th>
            <th>대표자명</th>
            <th>연락처</th>
            <th>주소</th>
            <th>사업자등록번호</th>
            <th>활성화</th>
            <th>수정일</th>
            <th>등록일</th>
          </tr>
          <!--            <tr th:each="bookCategoryList : ${bookCategoryList}">-->
          <tr th:each="storeList : ${storeList}">
            <!--              NO	서점ID	서점명	대표자명	연락처	주소	사업자등록번호	활성화	수정일	등록일-->
            <!--th:href="@{/store/{storeId}"-->
            <td th:text="${storeList.storeId}"></td>
            <td><a th:text="${storeList.storeLoginId}"
                   th:href="@{/cms/store/{storeId}(storeId=${storeList.storeId})}"></a></td>
            <td><a th:text="${storeList.storeTitle}"
                   th:href="@{/cms/store/{storeId}(storeId=${storeList.storeId})}"></a>
            </td>
            <td th:text="${storeList.storeOwner}"></td>
            <td th:text="${storeList.storePhoneNum}"></td>
            <td th:text="${storeList.storeAddress}"></td>
            <td th:text="${storeList.storeCrn}"></td>
            <td th:text="${storeList.storeStatus}"></td>
            <td th:text="${#temporals.format(storeList.lastModifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#temporals.format(storeList.createDate, 'yyyy-MM-dd HH:mm')}"></td>
          </tr>
        </table>
      </div>
    </div>
  </th:block>
</th:block>
</body>
</html>
