<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
    <div class="search_bar_wrap">
      <form action="post">
        <div class="search_date_wrap">
          <div class="item">
            <h2>서점관리</h2>
          </div>
          <div class="item">
            <button class="grey_btn">오늘</button>
            <button class="grey_btn">일주일</button>
            <button class="grey_btn">한달</button>
            <input type="date"/>
            <input type="date"/>
            <button class="black_btn">조회</button>
          </div>
        </div>
        <hr/>
        <div class="search_text_wrap">
          <div class="item">
            <select name="" id="">
              <option value="">전체</option>
              <option value="">서점명</option>
            </select>
            <input type="text" placeholder="검색어를 입력해주세요. "/>
            <button class="black_btn">검색</button>
          </div>
          <div class="item">
            <select name="" id="">
              <option value="">최신순</option>
              <option value="">이전순</option>
            </select>
            <button class="black_btn" onclick="bookAdd()">추가</button>
          </div>
        </div>
        <div class="list_table_wrap">
          <table class="list_table">
            <tr>
              <th>NO</th>
              <th>서점ID</th>
              <th>서점명</th>
              <th>대표자명</th>
              <th>연락처</th>
              <th>주소</th>
              <th>사업자등록번호</th>
              <th>활성화</th>
              <th>수정일</th>
              <th>등록일</th>
            </tr>
            <tr>
              <a href="">
                <td>9999</td>
                <td>thejoeun</td>
                <td>흥국서점</td>
                <td>김흥국</td>
                <td>02-545-7877</td>
                <td>서울시 영등포구 은행로 11</td>
                <td>0111-222-333</td>
                <td>활성화</td>
                <td>2024-04-24</td>
                <td>2024-03-25</td>
              </a>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </th:block>
</th:block>
</body>
</html>
