<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BookAdd</title>
  <link rel="stylesheet" href="../../css/style_reset.css" />
  <link rel="stylesheet" href="../../css/style.css" />
</head>
<body>
<section class="page_wrap">
  <div class="side_menu item">
    <h1 class="side_logo"></h1>
    <ul class="menu_wrap">
      <li class="menu_list">
        <a href="">
          <span>대시보드</span>
          <div class="menu_arrow_icon"></div>
        </a>
      </li>
      <li class="menu_list">
        <a href="">
          <span>주문관리</span>
          <div class="menu_arrow_icon"></div>
        </a>
      </li>
      <li class="menu_list">
        <a href="">
          <span>구독관리</span>
          <div class="menu_arrow_icon"></div>
        </a>
      </li>
      <li class="menu_list">
        <a href="">
          <span>상품관리</span>
          <div class="menu_arrow_icon"></div>
        </a>
      </li>
      <li class="menu_list">
        <a href="">
          <span>문의관리</span>
          <div class="menu_arrow_icon"></div>
        </a>
      </li>
      <li class="menu_list">
        <a href="">
          <span>리뷰관리</span>
          <div class="menu_arrow_icon"></div>
        </a>
      </li>
      <li class="menu_list">
        <a href="">
          <span>배너관리</span>
          <div class="menu_arrow_icon"></div>
        </a>
      </li>
      <li class="menu_list">
        <a href="">
          <span>전시관리</span>
          <div class="menu_arrow_icon"></div>
        </a>
      </li>
      <li class="menu_list">
        <a href="">
          <span>서점관리</span>
          <div class="menu_arrow_icon"></div>
        </a>
      </li>
      <li class="menu_list">
        <a href="">
          <span>회원관리</span>
          <div class="menu_arrow_icon"></div>
        </a>
      </li>
      <li class="menu_list">
        <a href="">
          <span>로그아웃</span>
          <div class="menu_arrow_icon"></div>
        </a>
      </li>
    </ul>
    <span class="signup_copyright">ⓒ 2024. 1984 All rights reserved.</span>
  </div>
  <div class="content item">
    <div class="top_st_bar">
      <p>USER_00</p>
      <span>ADMIN</span>
    </div>
    <div class="search_bar_wrap">
      <form action="" th:actoin="@{/store/modify}" method="post">
        <div class="search_date_wrap">
          <div class="item">
            <h2>서점상세</h2>
          </div>
          <div class="item">
            <button class="grey_btn">취소</button>
            <button class="black_btn">저장</button>
          </div>
        </div>
        <div class="add_form_wrap">
          <div class="add_input_wrap">
            <p>서점 썸네일 </p>
            <div draggable="true" class="drag_img_form"></div>
            <input type="text">
          </div>
          <div class="add_input_wrap">
            <p>서점명</p>
            <input type="text" placeholder="서점명을 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>설명</p>
            <textarea placeholder="설명을 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>서점한줄평</p>
            <input type="text" placeholder="서점한줄평을 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>서점택태그</p>
            <textarea placeholder="서점택태그를 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>서점 이미지</p>
            <div draggable="true" class="drag_img_form"></div>
            <div draggable="true" class="drag_img_form"></div>
            <div draggable="true" class="drag_img_form"></div>
            <p>이미지 1</p>
            <input type="text" placeholder="이미지를 첨부해주세요.">
            <p>이미지 2</p>
            <input type="text" placeholder="이미지를 첨부해주세요.">
            <p>이미지 3</p>
            <input type="text" placeholder="이미지를 첨부해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>1984의 서점리뷰</p>
            <textarea placeholder="서점리뷰를 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>주소</p>
            <textarea placeholder="주소를 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>연락처</p>
            <input type="text" placeholder="연락처를 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>운영시간</p>
            <textarea placeholder="운영시간을 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>대표자명</p>
            <input type="text" placeholder="대표자명을 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>아이디</p>
            <input type="text" placeholder="아이디를 입력해주세요." readonly>
          </div>
          <div class="add_input_wrap">
            <p>계좌번호</p>
            <select name="" id="">
              <option value="">우체국은행</option>
            </select>
            <input type="text" placeholder="계좌번호를 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>사업자 등록번호</p>
            <input type="text" placeholder="대표자명을 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>등록일</p>
            <input type="text" readonly>
          </div>
          <div class="add_input_wrap">
            <p>수정일</p>
            <input type="text" readonly>
          </div>
          <div class="add_checkbox_wrap">
            <p>활성화</p>
            <input id="on_status" type="checkbox">
            <label for="on_status">활성화</label>
            <input id="off_status" type="checkbox">
            <label for="off_status">비활성화</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>
