<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
    <div class="search_bar_wrap">
      <form action="" th:action th:object="${store}" method="post" enctype="multipart/form-data">
        <div class="search_date_wrap">
          <div class="item">
            <h2>서점상세</h2>
          </div>
          <div class="item">
            <button th:onclick="history.go(-1)" class="grey_btn" type="button">취소</button>
            <button class="black_btn" type="submit">저장</button>
          </div>
        </div>
        <div class="add_form_wrap">
          <div class="add_input_wrap">
            <p>서점 썸네일 </p>
            <div class="store_img_form">
              <img class="store_img_form" th:if="${imageExists}" th:src="|/cms/store/images/${store.getStoreImageStored()}|"/> <br/>
            </div>
            <input type="text" th:if="${imageExists}" th:value="${store.getStoreImageOrigin()}" readonly>
            <input type="file" th:name="newStoreImage">
          </div>
          <div class="add_input_wrap">
            <p>서점명</p>
            <input type="text" th:field="*{storeTitle}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>설명</p>
            <textarea th:field="*{storeText}" placeholder="설명을 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>서점한줄평</p>
            <input type="text" th:field="*{storeOneReview}" placeholder="서점한줄평을 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>서점택태그</p>
            <textarea th:field="*{storeTag}" placeholder="서점택태그를 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>서점 이미지</p>
            <div class="store_img_form">
              <img class="store_img_form" th:if="${imageExists}" th:src="|/cms/store/images/${store.getStoreImageStored01()}|"/> <br/>
            </div>
            <input type="text" th:if="${imageExists}" th:value="${store.getStoreImageOrigin01()}" readonly>
            <input type="file" th:name="newStoreImage01" th:value="${store.getStoreImageOrigin01()}">
          </div>
          <div class="add_input_wrap">
            <div class="store_img_form">
              <img class="store_img_form" th:if="${imageExists}" th:src="|/cms/store/images/${store.getStoreImageStored02()}|"/><br/>
            </div>
            <input type="text" th:if="${imageExists}" th:value="${store.getStoreImageOrigin02()}" readonly>
            <input type="file" th:name="newStoreImage02" th:value="${store.getStoreImageOrigin02()}">
          </div>
          <div class="add_input_wrap">
            <div class="store_img_form">
              <img class="store_img_form" th:if="${imageExists}" th:src="|/cms/store/images/${store.getStoreImageStored03()}|"/> <br/>
            </div>
            <input type="text" th:if="${imageExists}" th:value="${store.getStoreImageOrigin03()}" readonly>
            <input type="file" th:name="newStoreImage03" th:value="${store.getStoreImageOrigin03()}">
          </div>
          <div class="add_input_wrap">
            <p>1984의 서점리뷰</p>
            <textarea th:field="*{storeReview}" placeholder="서점리뷰를 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>주소</p>
            <textarea th:field="*{storeAddress}" placeholder="주소를 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>연락처</p>
            <input type="text" th:field="*{storePhoneNum}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>운영시간</p>
            <textarea th:field="*{storeOperateTime}" placeholder="운영시간을 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>대표자명</p>
            <input type="text" th:field="*{storeOwner}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>아이디</p>
            <input type="text" th:field="*{storeLoginId}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>계좌번호</p>

            <select th:field="*{storeBankName}">
              <option value="placeholder" th:selected>은행명</option>
              <option th:each="bank : ${bankList}" th:value="${bank}" th:text="${bank}"></option>
            </select>
            <input type="text" th:field="*{storeAccount}" placeholder="계좌번호를 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>사업자등록번호</p>
            <input type="text" th:field="*{storeCrn}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>수정일</p>
            <input type="text" th:field="*{lastModifiedDate}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>등록일</p>
            <input type="text" th:field="*{createDate}" readonly>
          </div>
          <div class="add_checkbox_wrap">
            <p>활성화</p>
            <input name="status" th:name="storeStatus" value="STORE" type="radio"
                   th:checked="${store.storeStatus == T(com.jpa4.pj1984.domain.StoreStatus).STORE}">활성화
            <input name="status" th:name="storeStatus" value="QUIT" type="radio"
                   th:checked="${store.storeStatus == T(com.jpa4.pj1984.domain.StoreStatus).QUIT}">비활성화
          </div>
        </div>
      </form>
    </div>
  </th:block>
</th:block>
</body>
</html>