<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
    <div class="search_bar_wrap">
      <form action="" th:action th:object="${store}" method="post" enctype="multipart/form-data">
        <div class="search_date_wrap">
          <div class="item">
            <h2>서점상세</h2>
          </div>
          <div class="item">
            <button th:onclick="history.go(-1)" class="grey_btn" type="button">취소</button>
            <button class="black_btn" type="submit">저장</button>
          </div>
        </div>
        <div class="add_form_wrap">
          <div class="add_input_wrap">
            <p>서점 썸네일 </p>
            <div class="store_img_form store_img_div" >
              <img class="store_img_form store_img_tag" th:src="|/cms/store/images/${store.getStoreImageStored()}|"/> <br/>
            </div>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:value="${store.getStoreImageOrigin()}" readonly>
            <input type="file" th:name="newStoreImage">
          </div>
          <div class="add_input_wrap">
            <p>서점명</p>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:field="*{storeTitle}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>설명</p>
            <textarea maxlength="400" oninput="checkLengths(this)" th:field="*{storeText}" placeholder="설명을 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>서점한줄평</p>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:field="*{storeOneReview}" placeholder="서점한줄평을 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>서점택태그</p>
            <textarea maxlength="400" oninput="checkLengths(this)" th:field="*{storeTag}" placeholder="서점택태그를 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>서점 이미지</p>
            <div class="store_img_form store_img_div" >
              <img class="store_img_form store_img_tag" th:src="|/cms/store/images/${store.getStoreImageStored01()}|"/> <br/>
            </div>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:value="${store.getStoreImageOrigin01()}" readonly>
            <input type="file" th:name="newStoreImage01" th:value="${store.getStoreImageOrigin01()}">
          </div>
          <div class="add_input_wrap">
            <div class="store_img_form store_img_div" >
              <img class="store_img_form store_img_tag" th:src="|/cms/store/images/${store.getStoreImageStored02()}|"/><br/>
            </div>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:value="${store.getStoreImageOrigin02()}" readonly>
            <input type="file" th:name="newStoreImage02" th:value="${store.getStoreImageOrigin02()}">
          </div>
          <div class="add_input_wrap">
            <div class="store_img_form store_img_div" >
              <img class="store_img_form store_img_tag" th:src="|/cms/store/images/${store.getStoreImageStored03()}|"/> <br/>
            </div>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:value="${store.getStoreImageOrigin03()}" readonly>
            <input type="file" th:name="newStoreImage03" th:value="${store.getStoreImageOrigin03()}">
          </div>
          <div class="add_input_wrap">
            <p>1984의 서점리뷰</p>
            <textarea maxlength="400" oninput="checkLengths(this)" th:field="*{storeReview}" placeholder="서점리뷰를 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>주소</p>
            <textarea maxlength="400" oninput="checkLengths(this)" th:field="*{storeAddress}" placeholder="주소를 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>연락처</p>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:field="*{storePhoneNum}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>운영시간</p>
            <textarea maxlength="400" oninput="checkLengths(this)" th:field="*{storeOperateTime}" placeholder="운영시간을 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>대표자명</p>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:field="*{storeOwner}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>아이디</p>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:field="*{storeLoginId}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>계좌번호</p>

            <select th:field="*{storeBankName}">
              <option value="placeholder" th:selected>은행명</option>
              <option th:each="bank : ${bankList}" th:value="${bank}" th:text="${bank}"></option>
            </select>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:field="*{storeAccount}" placeholder="계좌번호를 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>사업자등록번호</p>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:field="*{storeCrn}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>수정일</p>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:field="*{lastModifiedDate}" readonly>
          </div>
          <div class="add_input_wrap">
            <p>등록일</p>
            <input type="text" maxlength="40" oninput="checkLength(this)" th:field="*{createDate}" readonly>
          </div>
          <div class="add_checkbox_wrap">
            <p>활성화</p>
            <input name="status" th:name="storeStatus" value="STORE" type="radio"
                   th:checked="${store.storeStatus == T(com.jpa4.pj1984.domain.StoreStatus).STORE}">활성화
            <input name="status" th:name="storeStatus" value="QUIT" type="radio"
                   th:checked="${store.storeStatus == T(com.jpa4.pj1984.domain.StoreStatus).QUIT}">비활성화
          </div>
        </div>
      </form>
    </div>
  </th:block>
</th:block>
<script>
  $(document).ready(function(){
    let src = $(".store_img_tag").attr("src");
    console.log(src);
    if(src.length > 0) {
      $(".store_img_div").css("background-image", "none");
      $(".store_img_div").css("background-color", "#fff");
      $(".store_img_div").css("border", "none");
    }
  });

</script>
<script>
  let fileList = new Array();
  let files = null;
  // Prevent default drag behaviors
  ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
    document.getElementById('drop_zone').addEventListener(eventName, preventDefaults, false)
  });

  function preventDefaults (e) {
    e.preventDefault()
    e.stopPropagation()
  }

  // Highlight drop area when item is dragged over it
  ['dragenter', 'dragover'].forEach(eventName => {
    document.getElementById('drop_zone').addEventListener(eventName, highlight, false)
  });
  ['dropleave'].forEach(eventName => {
    document.getElementById('drop_zone').addEventListener(eventName, highlightlv, false)
  });
  ['drop'].forEach(eventName => {
    document.getElementById('drop_zone').addEventListener(eventName, unhighlight, false)
  });

  function highlight(e) {
    document.getElementById('drop_zone').style.backgroundColor = '#fafafa';
  }

  function highlightlv(e) {
    document.getElementById('drop_zone').style.backgroundColor = '#ffffff';
  }

  function unhighlight(e) {
    document.getElementById('drop_zone').style.backgroundColor = '#dcdcdc';
  }

  // Handle dropped files
  document.getElementById('drop_zone').addEventListener('drop', handleDrop, false);

  function handleDrop(e) {
    let dt = e.dataTransfer;
    files = dt.files;
    //fileList.push(files); // 배열에 추가

    handleFiles(files);
  }

  function handleFiles(files) {
    ([...files]).forEach(uploadFile);
  }

  function uploadFile(file) {
    document.getElementById('bookImg').value = file.name;

      // 이미지 미리보기
    let reader = new FileReader();
    reader.onloadend = function() {
      let img = document.getElementById('image-preview');
      let deleteBtn = document.querySelector('.img_delete_btn');
      let dropZone = document.getElementById('drop_zone');
      img.src = reader.result;
      deleteBtn.style.display = 'block';
<!--      dropZone.style.backgroundImage = 'url()';-->
    }
    reader.readAsDataURL(file);
  }

  function clickdelete(e){
    // 이미지 삭제 버튼에 클릭 이벤트 리스너 추가
    document.querySelector('.img_delete_btn').addEventListener('click', function() {
      // 이미지 미리보기 초기화
      document.getElementById('image-preview').src = '';

      // 'bookImg' 요소의 값 초기화
      document.getElementById('bookImg').value = '';

      //버튼 다시 삭제
      document.querySelector('.img_delete_btn').style.display = 'none';

      // 드래그 배경 색 수정
      document.getElementById('drop_zone').style.backgroundColor = '#ffffff';
<!--      let bgImgUrl = "../img/img_drag.png";-->
<!--      let dropZone = document.getElementById('drop_zone');-->
<!--      dropZone.style.backgroundImage = "url('" + bgImgUrl + "')";-->

      // 이미지 삭제 버튼 숨기기
      this.style.display = 'none';
      console.log(fileList[0][0]);
    });
  }

</script>
<script>
  $(document).ready(function(){
    $(".book_add_form").on("submit", function(e){
      e.preventDefault(); // 기본 제출 동작 막기
      console.log(fileList);
      // 폼 데이터 만들어 폼태그에 있는 작성값들 모두 담기
      let formData = new FormData();

      let isbn = $("#isbn").val();

      let bookImg = files[0];
      let bookFile = $("#bookFile")[0].files[0];

      let bookTitle = $("#bookTitle").val();
      let bookWriter = $("#bookWriter").val();
      let store = $("#store").val();
      let bookPub = $("#bookPub").val();
      let bookPaperPrice = $("#bookPaperPrice").val();
      let bookEbookPrice = $("#bookEbookPrice").val();
      let bookCategory = $("#bookCategory").val();
      let bookIntro = $("#bookIntro").val();
      let bookIndex = $("#bookIndex").val();
      let bookReview = $("#bookReview").val();
      let bookWriterProfile = $("#bookWriterProfile").val();
      let bookStatus = document.querySelector('input[name="bookStatus"]:checked').value;

      formData.append("isbn", isbn);

      formData.append("bookImg", bookImg);
      formData.append("bookFile", bookFile);

      formData.append("bookTitle", bookTitle);
      formData.append("bookWriter", bookWriter);
      formData.append("store", store);
      formData.append("bookPub", bookPub);
      formData.append("bookPaperPrice", bookPaperPrice);
      formData.append("bookEbookPrice", bookEbookPrice);
      formData.append("bookCategory", bookCategory);
      formData.append("bookIntro", bookIntro);
      formData.append("bookIndex", bookIndex);
      formData.append("bookReview", bookReview);
      formData.append("bookWriterProfile", bookWriterProfile);
      formData.append("bookStatus", bookStatus);

      console.log(bookFile);
      console.log(bookImg);
      console.log(formData);

      $.ajax({
        type: "post",
        url: "/cms/book/{id}/modify",
        data: formData,
        contentType: false,
        processData: false,
        success: function(result){
          console.log("성공!");
              console.log(result);
              // availResult input태그에 결과 메세지 띄우기
              $("#availResult").val(result);
              window.location.href = "/cms/book/list";
          },
          error: function(e) {
              console.log("실패...");
              console.log(e);
          }
      });
    });
  });

</script>
</html>