<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script>
  <!--  const dragItem = document.querySelector(".drag_img_form");-->
  <!--  const fileInput = document.querySelector(".image-input-form");-->
  <!--  const imagePreview = document.getElementById("image-preview");-->

  const $drop = document.querySelector(".drag_img_form");
  const $title = document.querySelector(".image-input-form");

  // 드래그한 파일 객체가 해당 영역에 놓였을 때
  $drop.ondrop = (e) => {
    e.preventDefault();
    // $drop.className = "dropBox";

    // 파일 리스트
    const file = e.dateTransfer.files[0].name;
    input_
    console.log(files);
  <!--  $title.value = files.name;-->
  <!--  console.log($title.value);-->
  }

  // ondragover 이벤트가 없으면 onDrop 이벤트가 실행되지 않습니다.
  $drop.ondragover = (e) => {
    e.preventDefault();
  }

  // 드래그한 파일이 최초로 진입했을 때
  $drop.ondragenter = (e) => {
    e.preventDefault();

    $drop.classList.add("active");
  }

  // 드래그한 파일이 영역을 벗어났을 때
  $drop.ondragleave = (e) => {
    e.preventDefault();

    $drop.classList.remove("active");
  }




</script>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
    <div class="search_bar_wrap">
      <form action="" th:action th:object="${bookForm}" method="post" enctype="multipart/form-data">
        <div class="search_date_wrap">
          <div class="item">
            <h2>상품등록</h2>
          </div>
          <div class="item">
            <button th:onclick="history.go(-1)" class="grey_btn">취소</button>
            <button type="submit" class="black_btn">저장</button>
          </div>
        </div>
        <div class="add_form_wrap">

          <!--TODO select로 변경-->
          <div class="add_input_wrap">
            <p>카테고리</p>
            <select name="bookCategory" th:field="*{bookCategory}">
              <option
                      th:each="list : ${categoryLists}"
                      th:value="${list.bookCategoryId}"
                      th:utext="${list.bookCategoryName}"
              ></option>
              <option value="문학">문학</option>
            </select>
          </div>
          
          <div class="add_input_wrap">
            <p>ISBN</p>
            <input type="text" th:field="*{isbn}" placeholder="ISBN을 입력해주세요.">
          </div>

          <div class="add_input_wrap">
            <p>도서표지</p>
            <div draggable="true" class="drag_img_form">
              <img id="image-preview" src="" alt="">
            </div>
            <input type="text" class="image-input-form" placeholder="이미지를 첨부해주세요.">
          </div>

          <div class="add_input_wrap">
            <p>도서명</p>
            <input type="text" th:field="*{bookTitle}" placeholder="도서명을 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>목차</p>
            <textarea th:field="*{bookIndex}" placeholder="목차를 입력해주세요."></textarea>
          </div>
          <div class="add_input_wrap">
            <p>도서소개</p>
            <textarea th:field="*{bookIntro}" placeholder="도서소개를 입력해주세요."></textarea>
          </div>
          <br>
          <div class="add_input_wrap">
            <p>저자</p>
            <input type="text" th:field="*{bookWriter}" placeholder="저자를 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>저자소개</p>
            <textarea th:field="*{bookWriterProfile}" placeholder="저자소개를 입력해주세요."></textarea>
          </div>
          <br>
          <div class="add_input_wrap">
            <p>출판사</p>
            <input type="text" th:field="*{bookPub}" placeholder="출판사를 입력해주세요.">
          </div>

          <!--TODO select로 변경-->
<!--          <div class="add_input_wrap">-->
<!--            <p>서점명</p>-->
<!--            <select name="" id="">-->
<!--              <option value=""></option>-->
<!--            </select>-->
<!--            <input th:field="*{StoreId}" placeholder="서점명을 입력해주세요."></input>-->
<!--          </div>-->

          <div class="add_input_wrap">
            <p>독립서점 리뷰</p>
            <textarea th:field="*{bookReview}" placeholder="독립서점의 리뷰를 입력해주세요."></textarea>
          </div>
          <br>
          <div class="add_input_wrap">
            <p>책파일</p>
            <input type="file" th:field="*{bookFile}" placeholder="*PDF 파일만 첨부가 가능합니다.">
          </div>
          <div class="add_input_wrap">
            <p>전자도서 판매가</p>
            <input type="text" th:field="*{bookEbookPrice}" placeholder="전자도서 판매가를 입력해주세요.">
          </div>
          <div class="add_input_wrap">
            <p>일반도서 판매가</p>
            <input type="text" th:field="*{bookPaperPrice}" placeholder="일반도서 판매가를 입력해주세요.">
          </div>
          <div class="add_checkbox_wrap">
            <p>활성화</p>
            <input type="radio" name="status" value="ON">활성화
            <input type="radio" name="status" value="OFF">비활성화
          </div>
        </div>
      </form>
    </div>
  </th:block>
</th:block>
</html>