<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
    <div class="search_bar_wrap">
      <div class="search_date_wrap">
        <div class="item">
          <h2>상품관리</h2>
        </div>
      </div>
      <hr />
      <div class="search_text_wrap">
        <div class="item">
          <select name="selectOption" id="selectOption">
            <option value="bookTitle">도서명</option>
            <option value="isbn">ISBN</option>
          </select>
          <input type="text" name="keyword" placeholder="검색어를 입력해주세요." />
          <button class="black_btn" onclick="movePage();">검색</button>
        </div>
        <div class="item">
          <select name="" id="sortOrder">
            <option value="desc" hidden="">정렬선택</option>
            <option value="desc">최신순</option>
            <option value="asc">이전순</option>
          </select>
          <button type="button" class="black_btn" th:onclick="|location.href='@{/cms/bookCategory/list}'|">카테고리관리</button>
          <button type="button" class="black_btn" th:onclick="|location.href='@{/cms/book/add}'|">추가</button>
        </div>
      </div>
      <div class="list_table_wrap">
        <table class="list_table">
          <tr>
            <th>NO</th>
            <th>카테고리</th>
            <th>도서명</th>
            <th>ISBN</th>
            <th>판매가</th>
            <th>서점명</th>
            <th>저자</th>
            <th>출판사</th>
            <th>수정일</th>
            <th>등록일</th>
          </tr>
          <tr th:each="book : ${bookList}">
              <td th:text="${book.bookId}"></td>
              <td th:text="${book.bookCategory.bookCategoryName}">인문</td>
              <td><a th:text="${book.bookTitle}" th:href="@{/cms/book/{id}(id=${book.bookId})}"></a></td>
              <td><a th:text="${book.isbn}" th:href="@{/cms/book/{id}(id=${book.bookId})}"></a></td>
              <td th:text="${book.bookEbookPrice}">15,000원</td>
              <td th:text="${book.store.storeTitle}">빵빵이와 친구들</td>
              <td th:text="${book.bookWriter}">이주용</td>
              <td th:text="${book.bookPub}">한빛미디어</td>
              <td th:text="${#temporals.format(book.lastModifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
              <td th:text="${#temporals.format(book.createDate, 'yyyy-MM-dd HH:mm')}"></td>
          </tr>
        </table>

        <!--페이징처리-->
        <div class="pageble_wrap">
          <div>
            <a class="pageNav_btn" th:href="${nowPage != startPage} ? @{/cms/book/list(page = ${prevPage})} : '#'">Prev</a>
            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
              <a class="pageNav_btn" th:if="${page != nowPage}" th:href="@{/cms/book/list(page = ${page -1})}" th:text="${page}"></a>
              <a class="pageNav_btn nowPage_btn" th:if="${page == nowPage}" th:href="@{#}" th:text="${page}"></a>
            </th:block>
            <a class="pageNav_btn" th:href="${nowPage != endPage} ? @{/cms/book/list(page = ${nextPage})} : '#'">Next</a>
          </div>
        </div>
        <!--페이징처리-->

      </div>
    </div>
  </th:block>
</th:block>
<script>
    // 정렬 필터 (최신순, 이전순)
    var selectedOption = 'desc'; // 기본값 설정
    document.getElementById('sortOrder').addEventListener('change', function() {
        selectedOption = this.value; // 선택된 옵션 ('asc' 또는 'desc')
        let url = "/cms/book/list?page=0&size=10&sort=bookId," + selectedOption;
        window.location.href = url; // 페이지를 새 URL로 리다이렉트
    });

    // 검색 폼으로 전달
    function movePage() {
      let selectOption = document.getElementsByName('selectOption')[0].value; // 'selectOption' 입력 필드의 값을 가져옵니다.
      let keyword = document.getElementsByName('keyword')[0].value; // 'keyword' 입력 필드의 값을 가져옵니다.
      let url = "/cms/book/list?page=0&size=10&sort=bookId," + selectedOption + "&selectOption=" + encodeURIComponent(selectOption) + "&keyword=" + encodeURIComponent(keyword); // 새 URL을 생성합니다.
      window.location.href = url; // 페이지를 새 URL로 리다이렉트합니다.
}

<!--      document.getElementById('sortOrder').addEventListener('change', function() {-->
<!--          var selectedOption = this.value; // 선택된 옵션 ('asc' 또는 'desc')-->
<!--          var url = "/cms/book/list?page=0&size=10&sort=bookId," + selectedOption;-->
<!--          window.location.href = url; // 페이지를 새 URL로 리다이렉트-->
<!--      });-->
</script>
</html>