<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <div class="search_bar_wrap">
            <form action="" th:action method="post">
                <div class="search_date_wrap">
                    <div class="item">
                        <h2>구독권 수정</h2>
                    </div>
                    <div class="item">
                        <button th:onclick="history.go(-1)" class="grey_btn">취소</button>
                        <button type="submit" class="black_btn">저장</button>
                    </div>
                </div>
                <div class="add_form_wrap">
                    <div class="add_input_wrap">
                        <p>구독권 금액</p>
                        <input type="text" maxlength="40" oninput="checkLength(this)" th:field="${membershipPrice.price}">
                    </div>
                    <div class="add_input_wrap">
                        <p>수정일</p>
                        <input type="text" maxlength="40" oninput="checkLength(this)" th:field="${membershipPrice.lastModifiedDate}" readonly>
                    </div>
                    <div class="add_input_wrap">
                        <p>등록일</p>
                        <input type="text" maxlength="40" oninput="checkLength(this)" th:field="${membershipPrice.createDate}" readonly>
                    </div>
                </div>
            </form>
        </div>
        <script th:inline="javascript">
            let successMessage = [[${success}]];
            if (successMessage === 'success') {
                alert('구독권 수정이 완료됐습니다.');
            }
        </script>
    </th:block>
</th:block>
</html>