    <!DOCTYPE html>
    <html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
        <th:block th:fragment="content">
            <div class="search_bar_wrap">
                <div class="search_date_wrap">
                    <div class="item">
                        <h2>회원상세</h2>
                    </div>
                    <div class="item">
                        <button class="grey_btn" type="button" id="memberList" onclick="toList()">목록</button>
                        <button class="black_btn" type="button" th:onclick="|location.href='@{/cms/userDetail/{id}/modify(id=${memberForm.userNo})}'|">수정</button>
                    </div>
                </div>
                <div class="add_form_wrap" th:object="${memberForm}">
                    <div class="add_input_wrap">
                        <p>아이디</p>
                        <input type="text" id="userId" th:field="*{userId}" readonly>
                    </div>
                    <div class="add_input_wrap">
                        <p>이름</p>
                        <input type="text" th:field="*{userName}" readonly>
                    </div>
                    <div class="add_input_wrap">
                        <p>전화번호</p>
                        <input type="text" th:field="*{userPhoneNum}" readonly>
                    </div>
                    <div class="add_input_wrap">
                        <p>이메일</p>
                        <input type="text" th:field="*{userEmail}" readonly>
                    </div>
                    <div class="add_input_wrap">
                        <p>회원가입일</p>
                        <input type="text" th:field="*{createDate}" readonly>
                    </div>
                    <div class="add_input_wrap">
                        <p>회원정보수정일</p>
                        <input type="text" th:field="*{lastModifiedDate}" readonly>
                    </div>
                    <div class="add_checkbox_wrap">
                        <p>활성화</p>
                        <input id="on_status" type="radio" th:checked="${memberForm.userStatus.getValue() == 'STATUS_USER'}" onclick="return false">
                        <label for="on_status" >일반회원</label>
                        <input id="off_status" type="radio" th:checked="${memberForm.userStatus.getValue() == 'STATUS_BANNED'}" onclick="return false">
                        <label for="off_status">정지</label>
                        <input id="quit_status" type="radio" th:checked="${memberForm.userStatus.getValue() == 'STATUS_QUIT'}" onclick="return false">
                        <label for="quit_status">탈퇴</label>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>
    <script>
        // 목록으로 돌아가기
        const toList = () =>{
            location.href = "/cms/userList"
        }
    </script>
    </html>
