<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <div class="search_bar_wrap">
            <div class="search_date_wrap">
                <div class="item">
                    <h2>주문관리</h2>
                </div>
                <div class="item">
                    <span><button id="todayBtn" class="grey_btn dateBtn" th:value="today">오늘</button></span>
                    <span><button id="oneWeekBtn" class="grey_btn dateBtn" th:value="oneWeek">일주일</button></span>
                    <span><button id="oneMonthBtn" class="grey_btn dateBtn" th:value="oneMonth">한달</button></span>
                    <form th:action="@{/cms/order/bookList}" method="get" style="display: inline-block;">
                        <input type="hidden" name="startDateSelected" th:if="${pageResponseDTO.pageRequestDTO.startDateSelected != null}"
                               th:value="${pageResponseDTO.pageRequestDTO.startDateSelected}"/>
                        <input type="hidden" name="endDateSelected" th:if="${pageResponseDTO.pageRequestDTO.endDateSelected != null}"
                               th:value="${pageResponseDTO.pageRequestDTO.endDateSelected}"/>
                        <input type="hidden" name="page" th:value="${pageResponseDTO.pageRequestDTO.page}"/>
                        <input type="hidden" name="size" th:value="${pageResponseDTO.pageRequestDTO.size}"/>
                        <input type="date" name="startDateSelected"
                               th:value="${pageResponseDTO.pageRequestDTO.startDateSelected}"/>
                        <input type="date" name="endDateSelected"
                               th:value="${pageResponseDTO.pageRequestDTO.endDateSelected}"/>
                        <button class="black_btn" type="submit" >조회</button>
                    </form>
                </div>
            </div>
            <hr />
            <div class="search_text_wrap">
                <form th:action="@{/cms/order/bookList}" method="get">
                    <div class="item">
                        <input type="hidden" name="startDateSelected" th:if="${pageResponseDTO.pageRequestDTO.startDateSelected != null}"
                               th:value="${pageResponseDTO.pageRequestDTO.startDateSelected}"/>
                        <input type="hidden" name="endDateSelected" th:if="${pageResponseDTO.pageRequestDTO.endDateSelected != null}"
                               th:value="${pageResponseDTO.pageRequestDTO.endDateSelected}"/>
                        <input type="hidden" name="page" th:value="${pageResponseDTO.pageRequestDTO.page}"/>
                        <input type="hidden" name="size" th:value="${pageResponseDTO.pageRequestDTO.size}"/>
                        <select name="searchType" id="searchType" >
<!--                            <option value="all" th:selected="${pageResponseDTO.pageRequestDTO.searchType == 'all'}">전체</option>-->
                            <option value="" th:selected="${pageResponseDTO.pageRequestDTO.searchType == null}">----</option>
                            <option value="orderNo" th:selected="${pageResponseDTO.pageRequestDTO.searchType == 'orderNo'}">No</option>
                            <option value="userId" th:selected="${pageResponseDTO.pageRequestDTO.searchType == 'userId'}">회원ID</option>
                            <option value="userName" th:selected="${pageResponseDTO.pageRequestDTO.searchType == 'userName'}">회원명</option>
                            <option value="isbn" th:selected="${pageResponseDTO.pageRequestDTO.searchType == 'isbn'}">ISBN</option>
                            <option value="bookTitle" th:selected="${pageResponseDTO.pageRequestDTO.searchType == 'bookTitle'}">도서명</option>
                            <option value="storeTitle" th:selected="${pageResponseDTO.pageRequestDTO.searchType == 'storeTitle'}">서점명</option>
                            <option value="status" th:selected="${pageResponseDTO.pageRequestDTO.searchType == 'status'}">주문상태</option>
                            <option value="method" th:selected="${pageResponseDTO.pageRequestDTO.searchType == 'method'}">결제방법</option>
                        </select>
                        <input type="text" name="keyword" id="keyword" th:value="${pageResponseDTO.pageRequestDTO.keyword}" placeholder="검색어를 입력해주세요"/>
                        <button class="black_btn" type="submit">검색</button>
                    </div>
                </form>
                <div class="item">
                    <select name="dateOrder" id="dateOrder">
                        <option value="desc" th:selected="${pageResponseDTO.pageRequestDTO.dateOrder == 'desc'}">최신순</option>
                        <option value="asc" th:selected="${pageResponseDTO.pageRequestDTO.dateOrder == 'asc'}">이전순</option>
                    </select>
                </div>

            </div>
            <div class="list_table_wrap">
                <table class="list_table">
                    <tr>
                        <th>NO</th>
                        <th>주문번호</th>
                        <th>회원ID</th>
                        <th>회원명</th>
                        <th>ISBN</th>
                        <th>도서명</th>
                        <th>서점명</th>
                        <th>주문상태</th>
                        <th>결제방법</th>
                        <th>구매일</th>
                    </tr>
                    <tr th:each="list : ${orderList}">
                        <td th:text="*{list.orderBookNo}"></td>
                        <td th:text="*{list.orderBookId}"></td>
                        <td th:text="*{list.userId}"></td>
                        <td th:text="*{list.userName}"></td>
                        <td th:text="*{list.isbn}"></td>
                        <td th:text="*{list.bookTitle}"></td>
                        <td th:text="*{list.storeTitle}"></td>
                        <td th:text="*{list.paymentBookStatus}"></td>
                        <td th:text="*{list.orderBookMethod}"></td>
                        <td th:text="*{list.createDate}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </th:block>
</th:block>

<script th:inline="javascript">
    $(document).ready(function () {
        let keyword = $("#keyword").val();
        let searchType = $("#searchType").val();
        let dateOrderSelected = $("#dateOrder").val();

        let orderListDiv = $(".list_table_wrap");

        $("#dateOrder").change(function () {
            dateOrderSelected = $(this).val();
            console.log(dateOrderSelected);
            $.ajax({
                type: "GET",
                url: "/cms/order/bookList/ajax",
                data: {
                    dateOrder: dateOrderSelected,
                    keyword: keyword,
                    searchType: searchType
                },
                success: function(response){
                    console.log("요청 성공");
                    console.log(response.orderList);
                    printList(response);
                },
                error: function(e){
                    console.error("요청 실패");
                    console.log(e);
                }
            });
        });

        $(".dateBtn").on("click", function (e) {
            let datePeriodSelected = $(this).val();
            console.log(datePeriodSelected);
            $.ajax({
                type: "GET",
                url: "/cms/order/bookList/ajax",
                data: {
                    dateOrder: dateOrderSelected,
                    keyword: keyword,
                    searchType: searchType,
                    datePeriod: datePeriodSelected
                },
                success: function(response){
                    console.log("요청 성공");
                    console.log(response.orderList);
                    printList(response);
                },
                error: function(e){
                    console.error("요청 실패");
                    console.log(e);
                }
            });
        });


        function printList(response) {
            let html = '';
            html += '<table class="list_table">';
            html += '<tr><th>NO</th><th>주문번호</th><th>회원ID</th><th>회원명</th>';
            html += '<th>ISBN</th><th>도서명</th><th>서점명</th><th>주문상태</th>';
            html += '<th>결제방법</th><th>구매일</th></tr>';
            $.each(response.orderList, function(index, item) {
                html += '<tr></tr><td>' + item.orderBookNo + '</td>';
                html += '<td>' + item.orderBookId + '</td>';
                html += '<td>' + item.userId + '</td>';
                html += '<td>' + item.userName + '</td>';
                html += '<td>' + item.isbn + '</td>';
                html += '<td>' + item.bookTitle + '</td>';
                html += '<td>' + item.storeTitle + '</td>';
                html += '<td>' + item.paymentBookStatus + '</td>';
                html += '<td>' + item.orderBookMethod + '</td>';
                html += '<td>' + item.createDate + '</td></tr>';
            });
            html += '</table>';
            orderListDiv.html(html);
        };
    });

</script>
</body>
</html>