<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<th:block th:fragment="base(content)">-->

    <th:block th:replace="~{backend/layouts/header :: headerFrg}"></th:block>

    <body>
<!--        <section class="page_wrap">-->

<!--            &lt;!&ndash; 사이드바  &ndash;&gt;-->
<!--            <th:block th:replace="~{/layouts/sidemenu :: sidemenuFrg}"></th:block>-->

<!--            &lt;!&ndash; 상단바 &ndash;&gt;-->
<!--            <div class="content item">-->
<!--                <div class="top_st_bar">-->
<!--                    <p>USER_00</p>-->
<!--                    <span>ADMIN</span>-->
<!--                </div>-->

<!--                &lt;!&ndash; 컨텐츠 &ndash;&gt;-->
<!--                <th:block th:replace="${content}"></th:block>-->

<!--            </div>-->
<!--        </section>-->

<!--        &lt;!&ndash; 자바스크립트 &ndash;&gt;-->
<!--        <th:block th:replace="${script}"></th:block>-->
    </body>
<!--</th:block>-->
</html>
