<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidemenuFrg">
    <div class="side_menu item">
        <a th:href="@{/}">
            <h1 class="side_logo"></h1>
        </a>
        <ul class="menu_wrap">
            <li class="menu_list">
                <a th:href="@{/}">
                    <span>대시보드</span>
                    <div class="menu_arrow_icon"></div>
                </a>
            </li>
            <li class="menu_list">
                <a th:href="@{/cms/order/bookList}">
                    <span>주문관리</span>
                    <div class="menu_arrow_icon"></div>
                </a>
            </li>
            <li class="menu_list">
                <a th:href="@{/cms/ordermembership/list}">
                    <span>구독관리</span>   <!--  TODO 페이지 수정 필요 admin과 store 구분해서 바로 필터링 후 뿌리기  -->
                    <div class="menu_arrow_icon"></div>
                </a>
            </li>
            <li class="menu_list">
                <a th:href="@{/cms/book/list}">
                    <span>상품관리</span>
                    <div class="menu_arrow_icon"></div>
                </a>
            </li>
            <li class="menu_list">
                <a th:href="@{/cms/inquiry/list}">
                    <span>문의관리(*내용)</span> <!--  TODO 페이지 수정 필요  -->
                    <div class="menu_arrow_icon"></div>
                </a>
            </li>
            <li class="menu_list">
                <a th:href="@{/cms/review/list}">
                    <span>리뷰관리(*파일&내용)</span> <!--  TODO 페이지 생성 및 페이지 수정 필요  -->
                    <div class="menu_arrow_icon"></div>
                </a>
            </li>
            <li class="menu_list">
                <a th:href="@{/cms/banner/list}">
                    <span>배너관리(*내용)</span> <!--  TODO 페이지 수정 필요  -->
                    <div class="menu_arrow_icon"></div>
                </a>
            </li>
            <li class="menu_list">
                <a th:href="@{/cms/display/detail}">
                    <span>전시관리(*내용)</span> <!--  TODO 페이지 수정 필요  -->
                    <div class="menu_arrow_icon"></div>
                </a>
            </li>
            <li class="menu_list">
                <a th:href="@{/cms/store/list}">
                    <span>서점관리</span>
                    <div class="menu_arrow_icon"></div>
                </a>
            </li>
            <li class="menu_list">
                <a th:href="@{/cms/userList}">
                    <span>회원관리</span>
                    <div class="menu_arrow_icon"></div>
                </a>
            </li>
            <li class="menu_list">
                <form th:action="@{/cms/logout}" method="post">
                    <button class="btn_login" type="submit">로그아웃</button>
                </form>
            </li>
        </ul>
        <span class="signup_copyright">ⓒ 2024. 1984 All rights reserved.</span>
    </div>
</th:block>
</html>