<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <div class="search_bar_wrap">
            <div class="search_date_wrap">
                <div class="item">
                    <h2>카테고리관리</h2>
                </div>
                <div class="item">
                    <button class="grey_btn">오늘</button>
                    <button class="grey_btn">일주일</button>
                    <button class="grey_btn">한달</button>
                    <input type="date" />
                    <input type="date" />
                    <button class="black_btn">조회</button>
                </div>
            </div>
            <hr />
            <div class="search_text_wrap">
                <div class="item">
                    <select name="categoryName" id="selectCategory">
                        <option value="">전체</option>
                    </select>
                    <input type="text" />
                    <button class="black_btn">검색</button>
                </div>
                <div class="item">
                    <select name="" id="sortOrder">
                        <option value="desc" hidden="">정렬선택</option>
                        <option value="desc">최신순</option>
                        <option value="asc">이전순</option>
                    </select>
                    <button class="black_btn" th:onclick="|location.href='@{/cms/bookCategory/add}'|">추가</button>
<!--                    <button class="black_btn" onclick="bookCategoryAdd()">추가</button>-->
                </div>
            </div>
            <div class="list_table_wrap">
                <table class="list_table">
                    <tr>
                        <th>NO</th>
                        <th>카테고리명</th>
                        <th>활성화</th>
                        <th>수정일</th>
                        <th>등록일</th>
                    </tr>
                    <tr th:each="bookCategoryList : ${bookCategoryList}">

                            <td><a th:text="${bookCategoryList.bookCategoryId}" th:href="@{/cms/bookCategory/{id}(id=${bookCategoryList.bookCategoryId})}"></a></td>
                            <td><a th:text="${bookCategoryList.bookCategoryName}" th:href="@{/cms/bookCategory/{id}(id=${bookCategoryList.bookCategoryId})}"></a></td>
                            <td th:text="${bookCategoryList.bookCategoryStatus}"></td>
                            <td th:text="${#temporals.format(bookCategoryList.lastModifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${#temporals.format(bookCategoryList.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                </table>

                <!--페이징처리-->
                <div class="pageble_wrap">
                    <div>
                        <a class="pageNav_btn" th:href="${nowPage != startPage} ? @{/cms/bookCategory/list(page = ${prevPage})} : '#'">Prev</a>
                        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                            <a class="pageNav_btn" th:if="${page != nowPage}" th:href="@{/cms/bookCategory/list(page = ${page -1})}" th:text="${page}"></a>
                            <a class="pageNav_btn nowPage_btn" th:if="${page == nowPage}" th:href="@{#}" th:text="${page}"></a>
                        </th:block>
                        <a class="pageNav_btn" th:href="${nowPage != endPage} ? @{/cms/bookCategory/list(page = ${nextPage})} : '#'">Next</a>
                    </div>
                </div>
                <!--페이징처리-->

            </div>
        </div>
    </th:block>
</th:block>
<script>
    //정렬필터(최신순,이전순)
        document.getElementById('sortOrder').addEventListener('change', function() {
            var selectedOption = this.value; // 선택된 옵션 ('asc' 또는 'desc')
            var url = "/cms/bookCategory/list?page=0&size=10&sort=bookCategoryId," + selectedOption;
            window.location.href = url; // 페이지를 새 URL로 리다이렉트
        });
</script>
</html>